#ignore vim backups
*~
#python stuff
__pycache__
.ipynb_checkpoints/

#notebooks are ignored
*.ipynb

# I will be calling the session files .ses
*.ses

# model files and directories
*.mdl

# .o g++ output files. Calling executable .exe
*.o
*.exe

